/*
CSS Stylesheet for Posts-per-Cat
Plugin URI: http://blog.urosevic.net/wordpress/posts-per-cat/
Description: List latests N article titles from categories and group them to category boxes organized in two columns.
Author: Aleksandar Urošević
Version: 0.0.14
Author URI: http://urosevic.net
*/
#ppc-box {
	width: 100%;
	clear: both;
	border: none;
	margin: 0;
	padding: 0;
}

#ppc-box .ppc-box {
	width: 48.5%;
	border: none;
	margin: 0;
	padding: 0;
}

#ppc-box.full .ppc-box {
	position: relative;
	width: 100%;
	margin-bottom: 18px;
	clear: both;
}

/* box graphics style */
#ppc-box .ppc-box .ppc {
	margin: 0;
	padding: 10px;
	clear: none;
}

/* fonts and colors of content */
#ppc-box .ppc-box .ppc ul li p {
	clear: both;
}
.ppc-more {
	display: block;
	clear: both;
	position: relative;
	width: 100%;
	text-align: right;
	margin-top: 9px;
	font-size: x-small;
}
.ppc-box .wp-post-image {
	position: relative;
	float: left;
	display: block;
	margin-right: 10px;
	margin-top: 3px;
	clear: left;
}
/* box positioning and spacing */
#ppc-box .left {
	position: relative;
	float: left;
}
#ppc-box .right {
	position: relative;
	float: right;
}
#ppc-box.full .left,
#ppc-box.full .right {
	float: left !important;
	clear: left !important;
}
#ppc-box .clear {
	position: relative;
	clear: both;
	width: 100% !important;
	height: 17px;
	display: block;
}
.ppc li { display: block; clear: both; }
.ppc li p img { float: left; position: relative; margin: 4px 9px 0 0; }
